h1{
    font-size: 435%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    position:absolute;
    top: 0;
}
p{
    text-align: center;
    font-size: 350%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    padding-left: 160px;
    font-size: 200%;
}
table,th,td{
    border: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 166%;
    padding-left: 17px;
    background-color: brown;
    color: white;
}
h2{
    text-align: center;
    font-size: 400%;
    background-color: brown;
    color: white;
    margin-left: 261px;
    margin-right: 254px;
}